*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
}
header{
    background-color: #61f2f5;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    width: 35px;
    height: 35px;
    margin-right: 25px;
    filter: opacity(1) drop-shadow(0 0 0 white); 
}
main{
    width: 100%;
}
.main-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.main-head img{
    width: 170px;
    margin-left: 23px;
}
.main-head a{
    color: #23282d;
    font-size: 1.8rem;
    font-weight: 400;
    margin-right: 23px;
    text-decoration: none;
    border-bottom: 1.5px solid;
}

/*Estilos del blog*/
.contenedor-noticias{
    margin-top: 20px;
    background-color: #e6e9ed;
}
.contenedor-noticias .img-title{
    width: 100%;
    padding: 10px 20px;
}
.contenedor-noticias .img-title img{
    width: 100%;
}
.contenedor-noticias .img-title p{
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 5px;
}
.contenedor-noticias .description-title{
    padding: 0 25px;
    text-align: justify;
    padding-bottom: 10px;
}
.description-title h1{
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.4rem;
    margin-bottom: 10px;
}
.description-title p{
    font-size: 1.4rem;
    font-weight: 400;
}
.btn-read-plus{
    margin-top: 15px;
    width: 120px;
    height: 40px;
    border: 2px solid #61f2f5;
    font-weight: 500;
    background-color: transparent;
    
}
.cards{
    margin: 10px;
}
.contenedor-blogposts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contenedor-blogposts .contenedor-title{
    width: 100%;
    padding-bottom: 20px;
    margin: 40px 20px 10px 20px;
    text-align: center;
    font-size: 1.6rem;
    border-bottom: 2px solid #e6e9ed;
}
.card-blogposts{
    margin: 40px 20px 10px 20px;
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-auto-rows: 1fr;
}
.card-blog{
    box-shadow: 0px 0px 13px 2px #000000;
}
.card-blog img{
    width: 100%;
    
}
.card-blog h3{
    font-size: 1.8rem;
    line-height: 40px;
    padding: 0 10px;
}
.card-blog p{
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0 10px;
}
footer .secundary-footer{
    width: 100%;
    height: 30px;
    margin-top: 50px;
    background-color: #61f2f5;
}
footer .primary-footer{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 1.4rem;
    text-align: center;
}
@media (min-width:600px) {
    header{
        justify-content: flex-end;
    }
    .main-head img{
        width: 150px;
        margin-left: 40px;
    }
    .main-head a{
        font-size: 2.4rem;
        margin-right: 25px;
    }

    .contenedor-noticias_body{
        display: flex;
        align-items: center;
    }
    .contenedor-noticias .img-title{
        max-width: 750px;
    }
    .contenedor-noticias .description-title{
        margin-top: 10px;
        width: 300px;
    }
    .card-blogposts{
        grid-template-columns: repeat(2, 1fr);
    }


}
@media (min-width:900px) {
    .main-head img{
        margin-right: 70px;
    }
    .main-head a{
        margin-left: 70px;
    }
    .contenedor-noticias{
        display: flex;
        justify-content: center;
    }
    .contenedor-noticias_body{
        max-width: 1200px;
    }
    .card-blogposts{
        max-width: 1050px;
    }
    .card-blogposts{
        grid-template-columns: repeat(3, 1fr);
    }

}
