*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #61f2f5;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    width: 35px;
    height: 35px;
    margin-right: 25px;
    filter: opacity(1) drop-shadow(0 0 0 white); 
}
main{
    background-image: url('../assets/image/Cover.png');
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 93vh;
    background-position-x:center;
    background-position-y:center;
    display: flex;
    flex-direction: column;
}
.main-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.main-head img{
    width: 170px;
    margin-left: 23px;
}
.main-head a{
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    margin-right: 23px;
    text-decoration: none;
    border-bottom: 1.5px solid;
}
.main-body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-body h1{
    color: white;
    text-align: center;
    font-size: 3.8rem;
    font-weight: 500;
    line-height: 4.4rem;
    margin-bottom: 30px;
}
.main-body .btn-acceso{
    border-radius: 2px;
    height: 50px;
    width: 130px;
    padding-top: 13px;
    color: #23282d;
    border: none;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #61f2f5;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
@media (min-width:600px) {
    header{
        justify-content: flex-end;
    }
    .main-head img{
        width: 200px;
        margin-left: 40px;
    }
    .main-head a{
        font-size: 2.4rem;
        margin-right: 30px;
    }
    .main-body h1{
        font-size: 3.5rem;
        line-height: 4.4rem;
        max-width: 500px;
    }
}
@media (min-width:900px) {
    .main-body h1{
        font-size: 6rem;
        line-height: 6.4rem;
        max-width: 800px;
    }
    .main-head img{
        margin-right: 70px;
    }
    .main-head a{
        margin-left: 70px;
    }
}
